<h1>パスワードリセット</h1>

<p>以下のリンクをクリックするとパスワードがリセットできます。</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクの有効期限は２時間です。</p>

<p>上記の内容に心当たりがない場合、このメールを無視して下さい。</p>